*,*::before,*::after{
    box-sizing: border-box;
}
img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
body{
    font-family: 'Roboto','Noto Sans TC', sans-serif;
    font-size: $font-size-bace;
    line-height: $light-hight-bace;
}
a{
    text-decoration: none;
    color: $baceColor-bark;
    display: block;
}
.bg-style{
    background: $secondary;
}
.btn-style{
    background: $primary;
    color: $baceColor-light;
}
.color-pale{
    color: $baceColor-pale;  
}

@media(max-width: 992px){
  .container{
    max-width: 696px;
  }
}
@media(max-width: 767px){
  .container{
    max-width: 348px;
  }
}
@mixin pad{
  @media(max-width: 992px){
    @content;
  }
}
@mixin mobile{
  @media(max-width: 767px){
	  @content;
  }
}
.container{
  max-width: 1296px;
  margin: 0 auto;
  @include pad{
    max-width: 696px;
  }
}

.font-size-01{
  font-size: $font-size-bace*0.875;//14px
  line-height: $light-hight-bace*0.875;//21px
  @include mobile{
    font-size: $font-size-bace;
    line-height: $light-hight-bace;
  }
}
.font-size-02{
  font-size: $font-size-bace;//16px
  line-height: $light-hight-bace;//24px
}
.font-size-03{
  font-size: $font-size-bace*1.25;//20px
  line-height: $light-hight-bace*1.25;//30px
}
.font-size-04{
  font-size: $font-size-bace*1.5;//24px
  line-height: $light-hight-bace*1.5;//36px
}
.font-size-05{
  font-size: $font-size-bace*2.25;//36px
  line-height: $light-hight-bace*2.25;//54px
  @include mobile{
    font-size: $font-size-bace;
    line-height: $light-hight-bace;
  }
}
.font-size-06{
  font-size: $font-size-bace*4;//64px
  line-height: $light-hight-bace*4;//96px
}


.font-weight-01{
  font-weight: $font-weight-bace*0.75;//300
}
.font-weight-03{
  font-weight: $font-weight-bace*1.25;//500
}
.font-weight-04{
  font-weight: $font-weight-bace*1.75;//700
}
.font-weight-05{
  font-weight: $font-weight-bace*1.125;//900
}

.df{
  display: flex;
}
.df-jcsb{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.df-jcsb-aic{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mt-1{
  margin-top: $spacing-bace*0.75;//6
}
.mr-1{
  margin-right: $spacing-bace*0.75;
}
.mb-1{
  margin-bottom: $spacing-bace*0.75;
}
.ml-1{
  margin-left: $spacing-bace*0.75;
}
.mt-2{
  margin-top: $spacing-bace;//8
}
.mr-2{
  margin-right: $spacing-bace;
}
.mb-2{
  margin-bottom: $spacing-bace;
}
.ml-2{
  margin-left: $spacing-bace;
}
.mt-3{
  margin-top: $spacing-bace*1.5;//12
}
.mr-3{
  margin-right: $spacing-bace*1.5;
}
.mb-3{
  margin-bottom: $spacing-bace*1.5;
}
.ml-3{
  margin-left: $spacing-bace*1.5;
}
.mt-4{
  margin-top: $spacing-bace*2;//16
}
.mr-4{
  margin-right: $spacing-bace*2;
}
.mb-4{
  margin-bottom: $spacing-bace*2;
}
.ml-4{
  margin-left: $spacing-bace*2;
}
.mt-5{
  margin-top: $spacing-bace*2.25;//18
}
.mr-5{
  margin-right: $spacing-bace*2.25;
}
.mb-5{
  margin-bottom: $spacing-bace*2.25;
}
.ml-5{
  margin-left: $spacing-bace*2.25;
}
.mt-6{
  margin-top: $spacing-bace*3;//24
}
.mr-6{
  margin-right: $spacing-bace*3;
}
.mb-6{
  margin-bottom: $spacing-bace*3;
}
.ml-6{
  margin-left: $spacing-bace*3;
}
.mt-7{
  margin-top: $spacing-bace*3.75;//30
}
.mr-7{
  margin-right: $spacing-bace*3.75;
}
.mb-7{
  margin-bottom: $spacing-bace*3.75;
}
.ml-7{
  margin-left: $spacing-bace*3.75;
}
.mt-8{
  margin-top: $spacing-bace*4;//32
  @include pad{
    margin-top: $spacing-bace*2;//16
  }
  @include mobile{
    margin-top: $spacing-bace;//8
  }
}
.mr-8{
  margin-right: $spacing-bace*4;
  @include pad{
    margin-right: $spacing-bace*2;
  }
  @include mobile{
    margin-right: $spacing-bace;
  }
}
.mb-8{
  margin-bottom: $spacing-bace*4;
  @include pad{
    margin-bottom: $spacing-bace*2;
  }
  @include mobile{
    margin-bottom: $spacing-bace;
  }
}
.ml-8{
  margin-left: $spacing-bace*4;
  @include pad{
    margin-left: $spacing-bace*2;
  }
  @include mobile{
    margin-left: $spacing-bace;
  }
}
.mt-9{
  margin-top: $spacing-bace*4.5;//36
}
.mr-9{
  margin-right: $spacing-bace*4.5;
}
.mb-9{
  margin-bottom: $spacing-bace*4.5;
}
.ml-9{
  margin-left: $spacing-bace*4.5;
}
.mt-10{
  margin-top: $spacing-bace*6;//48
}
.mr-10{
  margin-right: $spacing-bace*6;
}
.mb-10{
  margin-bottom: $spacing-bace*6;
}
.ml-10{
  margin-left: $spacing-bace*6;
}
.mt-11{
  margin-top: $spacing-bace*8;//64
}
.mr-11{
  margin-right: $spacing-bace*8;
}
.mb-11{
  margin-bottom: $spacing-bace*8;
}
.ml-11{
  margin-left: $spacing-bace*8;
}
.mt-12{
  margin-top: $spacing-bace*10;//80
}
.mr-12{
  margin-right: $spacing-bace*10;
}
.mb-12{
  margin-bottom: $spacing-bace*10;
}
.ml-12{
  margin-left: $spacing-bace*10;
}
.mt-13{
  margin-top: $spacing-bace*13.75;//110
}
.mr-13{
  margin-right: $spacing-bace*13.75;
}
.mb-13{
  margin-bottom: $spacing-bace*13.75;
}
.ml-13{
  margin-left: $spacing-bace*13.75;
}
.mr-auto{
  margin-right: auto;
}
.mb-auto{
  margin-bottom: auto;
}
.ml-auto{
  margin-left: auto;
}



.pt-1{
  padding-top: $spacing-bace*0.75;//6
}
.pr-1{
  padding-right: $spacing-bace*0.75;
}
.pb-1{
  padding-bottom: $spacing-bace*0.75;
}
.pl-1{
  padding-left: $spacing-bace*0.75;
}
.pt-2{
  padding-top: $spacing-bace;//8
}
.pr-2{
  padding-right: $spacing-bace;
}
.pb-2{
  padding-bottom: $spacing-bace;
}
.pl-2{
  padding-left: $spacing-bace;
}
.pt-3{
  padding-top: $spacing-bace*1.5;//12
}
.pr-3{
  padding-right: $spacing-bace*1.5;
}
.pb-3{
  padding-bottom: $spacing-bace*1.5;
}
.pl-3{
  padding-left: $spacing-bace*1.5;
}
.pt-4{
  padding-top: $spacing-bace*2;//16
}
.pr-4{
  padding-right: $spacing-bace*2;
}
.pb-4{
  padding-bottom: $spacing-bace*2;
}
.pl-4{
  padding-left: $spacing-bace*2;
}
.pt-5{
  padding-top: $spacing-bace;//24
}
.pr-5{
  padding-right: $spacing-bace;
}
.pb-5{
  padding-bottom: $spacing-bace;
}
.pl-5{
  padding-left: $spacing-bace;
}
.pt-6{
  padding-top: $spacing-bace*3;//24
}
.pr-6{
  padding-right: $spacing-bace*3;
}
.pb-6{
  padding-bottom: $spacing-bace*3;
}
.pl-6{
  padding-left: $spacing-bace*3;
}
.pt-7{
  padding-top: $spacing-bace;//36
}
.pr-7{
  padding-right: $spacing-bace;
}
.pb-7{
  padding-bottom: $spacing-bace;
}
.pl-7{
  padding-left: $spacing-bace;
}
.pt-8{
  padding-top: $spacing-bace*4;//32
}
.pr-8{
  padding-right: $spacing-bace*4;
}
.pb-8{
  padding-bottom: $spacing-bace*4;
}
.pl-8{
  padding-left: $spacing-bace*4;
}
.pt-9{
  padding-top: $spacing-bace;//
}
.pr-9{
  padding-right: $spacing-bace;
}
.pb-9{
  padding-bottom: $spacing-bace;
}
.pl-9{
  padding-left: $spacing-bace;
}
.pt-10{
  padding-top: $spacing-bace*6;//48
}
.pr-10{
  padding-right: $spacing-bace*6;
}
.pb-10{
  padding-bottom: $spacing-bace*6;
}
.pl-10{
  padding-left: $spacing-bace*6;
}
.pt-11{
  padding-top: $spacing-bace*10;//80
}
.pr-11{
  padding-right: $spacing-bace*10;
}
.pb-11{
  padding-bottom: $spacing-bace*10;
}
.pl-11{
  padding-left: $spacing-bace*10;
}
.pt-12{
  padding-top: $spacing-bace*12.75;//102
}
.pr-12{
  padding-right: $spacing-bace*12.75;
}
.pb-12{
  padding-bottom: $spacing-bace*12.75;
}
.pl-12{
  padding-left: $spacing-bace*12.75;
}
.pt-13{
  padding-top: $spacing-bace*22;//176
}
.pr-13{
  padding-right: $spacing-bace*22;
}
.pb-13{
  padding-bottom: $spacing-bace*22;
}
.pl-13{
  padding-left: $spacing-bace*22;
}