*,*::before,*::after{
    box-sizing: border-box;
}
img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
body{
    font-family: 'Roboto','Noto Sans TC', sans-serif;
    font-size: $FZ-2;
    line-height: $LH-2;
}
a{
    text-decoration: none;
    color: $baceColor-b;
    display: block;
}
.container{
    max-width: 1296px;
    margin: 0 auto;
  }
.btn-style{
    background: $primary;
    color: $baceColor-w;
}
  
@media (max-width:992px) {
    .container{
      max-width: 696px;
    }
  }
  
@media (max-width:767px) {
    .container{
      max-width: 348px;
    }
  }

.fontsize-01{
  font-size: $FZ-1;
  line-height: $LH-1;
}
.fontsize-03{
  font-size: $FZ-3;
  line-height: $LH-3;
  ;
}
.fontsize-05{
  font-size: $FZ-5;
}

.df-jcsb{
    display: flex;
    justify-content: space-between;
}
.df-jcsb-aic{
    display: flex;
    justify-content: space-between;
    align-items: center;
}