.index-title{
    color: $font-color-index;
    font-size: $font-size-bace*3;
    line-height: $light-hight-bace*3;
    font-weight: $font-weight-bace*1.75;
    @include mobile{
        font-size: $font-size-bace*1.5;
        line-height: $light-hight-bace*1.5;
    }
}
.banner{
    color: $font-color-index;
    height: 787px;
    background: url(../images/home-header.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @include pad{
        background: url(../images/home-header-sm.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    @include mobile{
        height: 396px;
    }
    .banner-content{
        display: flex;
        flex-direction: column;
        align-items: end;
        padding: $spacing-bace*37 0;
        @include mobile{
            padding: $spacing-bace*18 0;
        }
    }
}

.serve {
    li{
        max-width: 25%;
        @include pad{
            max-width: 50%;
        }
        @include mobile{
            max-width: 100%;
            margin: 0 0 $spacing-bace*3 0;
        }
    } 
    img{
        max-width: 100px;
        display: block;
        @include pad{
            margin: 0 auto $spacing-bace*2;
        }
    }
}

.series-font-style{
    font-size: $font-size-bace*3;
    line-height: $light-hight-bace*3;
    font-style: italic;
    color: $primary;
}

.classic{
    ul {
        @include pad{
            flex-direction: column;
            align-items: center;
        }
        li{
            max-width: 33%;
            @include pad{
                max-width: 50%;
                margin: 0 0 $spacing-bace*3 0;
            }
            @include mobile{
                max-width: 100%;
            }
        }
    }
}
.design{
    background: url(../images/index-bg.png);
    .index-title{
        color: $baceColor-light;
    }
    li{
        max-width: 50%;
        @include pad{
            max-width: 100%;
            margin: 0 0 $spacing-bace*3 0;
        }
    }
    p{
        background: $baceColor-light;
    }
}
.recommedation{
    li{
        max-width: 24.55%;
        flex-direction: column;
        @include pad{
            max-width: 50%;
            margin: 0 0 $spacing-bace*3 0;
        }
        @include mobile{
            max-width: 100%;
        }
    }
    .recommedation-item{
        height: 511px;
        box-shadow: 0px 2px 6px #00000029;
        -moz-box-shadow: 0px 2px 6px #00000029;
        -webkit-box-shadow: 0px 2px 6px #00000029;
    }
}
.contact-form{
    max-width: 636px;
    @include pad{
        max-width: 576px;
    }
    @include mobile{
        max-width: 348px;
    }
    .index-title{
        @include pad{
            margin: 0 0 $spacing-bace*3 0;
        }
    }
    p{
        margin: 0 0 $spacing-bace*3 0;
        @include pad{
            font-size: $font-size-bace;
            line-height: $light-hight-bace;
        }
    }
    label{
        display: block;
    }
    input{
        width: 636px;    
        @include pad{
            max-width: 576px;
        }
        @include mobile{
            max-width: 348px;
        }
    }
    .privacy-policy{
        display: block;
        width: 18px;
        height: 18px;
    }
    .submit{
        width: auto;
        @include pad{
            padding: $spacing-bace*2 $spacing-bace*17;
            margin: 0 $spacing-bace*15;
        }
        @include mobile{
            padding-right: $spacing-bace*17.5;//142
            padding-left: $spacing-bace*17.5;
            margin: 0;
        }
    }
}
