.index-title{
    color: $FC-indexBanner;
    font-size: $FZ-4*2;
    line-height: $LH-4*2;
    font-weight: $FW-4;
    text-align: center;
    margin: 0 0 $m-8*6 0;
}
.p-tp-80{
    padding: $m-8*10 0;
}

.banner{
    color: $FC-indexBanner;
    background: url(../images/home-header.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    h2{
        font-size: 64px;
        line-height: 96px;
        font-weight: $FW-4;
        margin: 0 0 $m-8*0.5 0;
    }
    a{
        font-weight: 500;
        padding: 6px 12px;
    }
    .banner-content{
        display: flex;
        flex-direction: column;
        align-items: end;
        padding: $m-8*37 0;
    }
}

.serve {
    h3{
        margin: 0 0 $m-8*3 0;
    }
    h4{
        font-weight: $FW-4;
        text-align: center;
        color: $FC-indexBanner;
        margin: 0 0 $m-8 0;
    }
    ul li{
        max-width: 306px;
    }
    img{
        max-width: 100px;
        margin: $m-8*2 auto;
        display: block;
    }
}

.produce-series{
    font-size: $FZ-4*2;
    line-height: $LH-4*2;
    font-weight: $FW-5;
    font-style: italic;
    color: $primary;
    text-align: center;
}

.classic{
    p{
        margin: $m-8 0 0 0;
    }
    ul li{
        max-width: 416px;
    }
}
.design{
    background: url(../images/index-bg.png);
    .index-title{
        color: $baceColor-w;
    }
    p{
        padding: $m-8 0;
        background: $baceColor-w;
    }
}
.recommedation{
    ul li{
        max-width: 306px;
        flex-direction: column;
        box-shadow: 0px 2px 6px #00000029;
    }
    img{
        margin: 0 0 $m-8*2 0;
    }
    p{
        margin: 0 0 $m-8 0;
        padding: 0 $m-8*2;
    }
    .recommedation-item{
        margin: 0 0 $m-8*9 0;
    }
    .date {
        color: $FC-date;
        margin: 0 0 $m-8*2 0;
    }
}

.contact-form{
    max-width: 636px;
    p{
        margin: 0 0 $m-8*3 0;
    }
    label{
        display: block;
        margin: 0 0 $m-8 0;
    }
    input{
        width: 636px;    
        padding: 6px 12px;
        margin: 0 0 $m-8*2 0;
    }
    .suggestion{
        padding: 6px 12px 106px 12px;
    }
    .privacy-policy{
        display: flex;
        margin: 0 0 $m-8*6 0;
        input{
            display: block;
            width: 18px;
            height: 18px;
            margin: 4px;
        }
    }
    .submit{
        width: auto;
        font-weight: $FW-4;
        padding: 16px 176px;
        margin: 0 110px;
    }
}

