.layout-bg {
    background: $primary;
    color: $baceColor-light;
    a{
        color: $baceColor-light;
    }
}
.header{
    h1{
        background: url(../images/logo-white.png);
        width: 80px;
        height: 48.57px;
        background-position: center;
        background-size: cover;
        display: block;
        text-indent: 101%;
        overflow: hidden;
        white-space: nowrap;
    }
    .container{
        @include mobile{
            position: relative;
        }
    }
    .top-menu{
        @include mobile{
            display: none;
            background: $primary;
            position: absolute;
            top: 80px;
            right: 0;
            flex-direction: column;
            text-align: center;
        } 
        a{
            padding: 25px 0;
            @include mobile{
                font-size: $font-size-bace;
                line-height: $light-hight-bace;
                margin: 0;
                width: 174px;
                border: 1px solid $baceColor-light;
            }
        }
    }
    .hambuger{
        display: none;
        color: $baceColor-light;
        font-size: $font-size-bace*2.5;
        @include mobile{
            display: block;
        }
        span{
            font-size: $font-size-bace*2.5;
        }
    }
}

.bottom-menu{
    padding: $m-8*6 0 $m-8*4 0;
    border-bottom: 1px solid $baceColor-w;
    @include mobile{
        padding: $m-8*3 0;
    }
    .bottom-menu-list{
        margin: 0 0 $m-36 0;
        align-items: center;
        @include pad{
            margin: 0 0 $m-8*4 0;
        }
        @include mobile{
            display: none;
        }
        a{
            margin: 0 $m-8*6 0 0;
        }
    }
    .sns{
        display: flex;
        a{
            width: 48px;
            height: auto;
            margin: 0 0 0 $m-8*4;
            @include pad{
                width: 40px;
                margin: 0 0 0 $m-8*2;
            }
            @include mobile{
                width: 24px;
                margin: 0 0 0 $m-8;        
            }
        }
    }
    .contactInfo{
        li{
            line-height: 54px;
            margin: $m-8 0 0 0;
        }
        a{
            @include mobile{
                font-size: $FZ-2;
                line-height: $LH-2;
            }
        }
        span{
            @include mobile{
                font-size: $FZ-2;
            }
        }
    } 

}
.copyright{
    padding: $m-8*4 0;
    @include pad{
        padding: $m-8*4 0 $m-8*5 0;
    }
    @include mobile{
        display: block;
        padding: $m-8*2 0 $m-8*3 0;
    }
    a{
        margin: 0 0 0 $m-8*6;
        @include mobile{
            margin: $m-8 0 0 0;
            font-size: $FZ-2;
            line-height: $LH-2;
        }
    }
    ul{
        @include mobile{
            display: block;
        }
    }
}