.layout-bg {
    background: $primary;
    color: $baceColor-light;
    a{
        color: $baceColor-light;
    }
}
.header{
    h1{
        background: url(../images/logo-white.png);
        width: 80px;
        height: 48.57px;
        background-position: center;
        background-size: cover;
        display: block;
        text-indent: 101%;
        overflow: hidden;
        white-space: nowrap;
    }
    .container{
        @include mobile{
            position: relative;
        }
    }
    .top-menu{
        @include mobile{
            display: none;
            background: $primary;
            position: absolute;
            top: 80px;
            right: 0;
            flex-direction: column;
        } 
        a{
            padding: $spacing-bace*3.125 0;
            @include mobile{
                font-size: $font-size-bace;
                line-height: $light-hight-bace;
                margin: 0;
                width: 174px;
                border: 1px solid $baceColor-light;
            }
        }
    }
    .hambuger{
        display: none;
        color: $baceColor-light;
        font-size: $font-size-bace*2.5;
        @include mobile{
            display: block;
        }
        span{
            font-size: $font-size-bace*2.5;
        }
    }
}

.bottom-menu{
    border-bottom: 1px solid $baceColor-light;
    @include mobile{
        padding: $spacing-bace*3 0;
    }
    .bottom-menu-list{
        align-items: center;
        @include pad{
            margin-bottom: $spacing-bace*4.5;
        }
        @include mobile{
            display: none;
        }
    }
    .sns{
        a{
            width: 48px;
            height: auto;
            @include pad{
                width: 40px;
            }
            @include mobile{
                width: 24px;        
            }
        }
    }
}
.copyright{
    @include pad{
        padding-bottom: $spacing-bace*5;
    }
    @include mobile{
        display: block;
        padding: $spacing-bace*2 0 $spacing-bace*3 0;
    }
    a{
        @include mobile{
            margin: $spacing-bace 0 0 0;
        }
    }
    ul{
        @include mobile{
            display: block;
        }
    }
}