.classic-menu{
    li{
        width: 33.333%;
    }
    a{
        display: block;
        width: 100%;
        @include pad{
            padding: $spacing-bace*2 0 $spacing-bace 0;
        }
        @include mobile{
            font-size: $font-size-bace;
            line-height: $light-hight-bace;
        }
    }
}
.banner02-item{
    width: 50%;
    .product-header-1{
        height: $spacing-bace*37;
        background: url(../images/product-header-1.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        @include pad{
            background: url(../images/product-header-sm-1.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        @include mobile{
            height: $spacing-bace*17;
        }
    }
    .product-header-2{
        height: $spacing-bace*37;
        background: url(../images/product-header-2.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        @include pad{
            background: url(../images/product-header-sm-2.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        @include mobile{
            height: $spacing-bace*17;
        }
    }
}
.font-size-series{
    @include mobile{
        margin: 0;
    }
}
.produce-item{
    max-width: 25%;
    @include pad{
        max-width: 50%;
        margin: 0 0 $spacing-bace*5 0;
    }
    @include mobile{
        max-width: 100%;
        margin: $spacing-bace*3 0 0 0;
    }
    .produce-ui{
        width: $spacing-bace*3;
        height: $spacing-bace*3;
        border-radius: $spacing-bace*0.5;
        -moz-border-radius: $spacing-bace*0.5;
        -webkit-border-radius: $spacing-bace*0.5;
        &:hover{
            opacity: 0.5;
        }
    }
}
.produce-page{
    max-width: $spacing-bace*46.5;
    @include mobile{
        max-width: $spacing-bace*43.375;
        margin-bottom: $spacing-bace*8;
    }
    .switch{
        width: 21.5%;
    }
    .number{
        width: 11.2%;
    }
    a{
        display: block;
        width: 100%;
    }
    @include pad{
        margin-top: $spacing-bace*5;
    }
}
