.classic-menu{
    a{
        display: block;
        width: $spacing-bace*54;
    }
}
.page02-banner{
    img{
        max-width: 50%;
    }
}
.produce-item{
    max-width: 25%;
    .produce-ui{
        width: $spacing-bace*3;
        height: $spacing-bace*3;
        border-radius: $spacing-bace*0.5;
        -moz-border-radius: $spacing-bace*0.5;
        -webkit-border-radius: $spacing-bace*0.5;
        &:hover{
            opacity: 0.5;
        }
    }
}
