$primary: #AA0601;
$secondary: #FBF2F2;
$baceColor-bark: #000;
$baceColor-light: #fff;
$FC-indexBanner: #650300;
$baceColor-pale: #707070;

$font-size-bace: 16px;
$light-hight-bace: 24px;
$font-weight-bace: 400;

$spacing-bace: 8px;

