$primary: #AA0601;
$secondary: #FBF2F2;
$baceColor-bark: #000;
$baceColor-light: #fff;
$font-color-index: #650300;
$baceColor-pale: #707070;
$border-pale:#DCDCDC;
$produce-ui-dark: #5F3E2D;
$produce-ui-colorful:#B75929;
$font-color-page:#555555;
$bg-color-page:#F2F2F2;

$font-size-bace: 16px;
$light-hight-bace: 24px;
$font-weight-bace: 400;

$spacing-bace: 8px;

