$primary: #AA0601;
$secondary: #FBF2F2;
$baceColor-b: #000;
$baceColor-w: #fff;
$FC-indexBanner: #650300;
$FC-date: #707070;

$FZ-1: 14px;
$FZ-2: 16px;
$FZ-3: 20px;
$FZ-4: 24px;
$FZ-5: 36px;

$LH-1: 21PX;
$LH-2: 24px;
$LH-3: 30PX;
$LH-4: 36PX;
$LH-5: 54PX;

$FW-1: 300;
$FW-2: 400;
$FW-3: 500;
$FW-4: 700;
$FW-5: 900;

$m-8: 8px;
$m-36: 36px;
