/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

body {
  font-family: 'Roboto','Noto Sans TC', sans-serif;
  line-height: 24px; }

a {
  text-decoration: none;
  color: #000;
  display: block; }

.bg-style {
  background: #FBF2F2; }

.btn-style {
  background: #AA0601;
  color: #fff; }
  .btn-style:hover {
    background: #650300; }

.color-primary {
  color: #AA0601; }

.color-pale {
  color: #707070; }

.color-index {
  color: #650300; }

.color-page-pale {
  color: #555555; }
  .color-page-pale:hover {
    color: #fff;
    background: #000; }

.bg-page {
  background: #F2F2F2; }
  .bg-page:hover {
    background: #000; }

.bg-ui-dark {
  background: #5F3E2D; }

.bg-ui-colorful {
  background: #B75929; }

.border-pale {
  border: 1px solid #DCDCDC; }

.border-page-hover {
  border-bottom: 8px solid #fff; }
  .border-page-hover:hover {
    border-bottom: 8px solid #AA0601; }

.border-tb-deep {
  border-top: 1px solid #555555;
  border-bottom: 1px solid #555555; }

.border-r-deep {
  border-right: 1px solid #555555; }

.border-l-deep {
  border-left: 1px solid #555555; }

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px; }
  @media (max-width: 992px) {
    .container {
      max-width: 720px; } }
  @media (max-width: 767px) {
    .container {
      max-width: 372px; } }

.font-size-01 {
  font-size: 14px;
  line-height: 21px; }
  @media (max-width: 767px) {
    .font-size-01 {
      font-size: 16px;
      line-height: 24px; } }

.font-size-02 {
  font-size: 16px;
  line-height: 24px; }

.font-size-03 {
  font-size: 20px;
  line-height: 30px; }

.font-size-04 {
  font-size: 24px;
  line-height: 36px; }

.font-size-05 {
  font-size: 36px;
  line-height: 54px; }
  @media (max-width: 767px) {
    .font-size-05 {
      font-size: 16px;
      line-height: 24px; } }

.font-size-06 {
  font-size: 64px;
  line-height: 96px; }
  @media (max-width: 767px) {
    .font-size-06 {
      font-size: 24px;
      line-height: 36px; } }

.font-size-07 {
  font-size: 32px;
  line-height: 48px; }
  @media (max-width: 992px) {
    .font-size-07 {
      font-size: 24px;
      line-height: 36px; } }

.font-size-series {
  font-size: 42px;
  line-height: 63px; }
  .font-size-series span {
    font-size: 32px;
    line-height: 48px; }
    @media (max-width: 767px) {
      .font-size-series span {
        font-size: 24px;
        line-height: 36px; } }
  @media (max-width: 767px) {
    .font-size-series {
      font-size: 24px;
      line-height: 36px; } }

.font-size-page-l {
  font-size: 19px;
  line-height: 28.9992px; }
  @media (max-width: 767px) {
    .font-size-page-l {
      font-size: 16px;
      line-height: 25.9992px; } }

.font-size-page-s {
  font-size: 18px;
  line-height: 27px; }
  @media (max-width: 767px) {
    .font-size-page-s {
      font-size: 16px;
      line-height: 24px; } }

.font-weight-01 {
  font-weight: 300; }

.font-weight-03 {
  font-weight: 500; }

.font-weight-04 {
  font-weight: 700; }

.font-weight-05 {
  font-weight: 900; }

.df {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.df-jcsb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.df-jcc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.df-jcsb-aic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.df-fxdc-jcsb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.tac {
  text-align: center; }

@media (max-width: 767px) {
  .mobile-dn {
    display: none; } }

.mt-1 {
  margin-top: 6px; }

.mr-1 {
  margin-right: 6px; }

.mb-1 {
  margin-bottom: 6px; }

.ml-1 {
  margin-left: 6px; }

.mt-2 {
  margin-top: 8px; }

.mr-2 {
  margin-right: 8px; }

.mb-2 {
  margin-bottom: 8px; }

.ml-2 {
  margin-left: 8px; }

.mt-3 {
  margin-top: 12px; }

.mr-3 {
  margin-right: 12px; }

.mb-3 {
  margin-bottom: 12px; }

.ml-3 {
  margin-left: 12px; }

.mr-m-3 {
  margin-right: -12px; }

.ml-m-3 {
  margin-left: -12px; }

.mt-4 {
  margin-top: 16px; }

.mr-4 {
  margin-right: 16px; }

.mb-4 {
  margin-bottom: 16px; }

.ml-4 {
  margin-left: 16px; }

.mt-5 {
  margin-top: 18px; }

.mr-5 {
  margin-right: 18px; }

.mb-5 {
  margin-bottom: 18px; }

.ml-5 {
  margin-left: 18px; }

.mt-6 {
  margin-top: 24px; }

.mr-6 {
  margin-right: 24px; }

.mb-6 {
  margin-bottom: 24px; }

.ml-6 {
  margin-left: 24px; }

.mt-7 {
  margin-top: 30px; }

.mr-7 {
  margin-right: 30px; }

.mb-7 {
  margin-bottom: 30px; }

.ml-7 {
  margin-left: 30px; }

.mt-8 {
  margin-top: 32px; }
  @media (max-width: 992px) {
    .mt-8 {
      margin-top: 16px; } }
  @media (max-width: 767px) {
    .mt-8 {
      margin-top: 8px; } }

.mr-8 {
  margin-right: 32px; }
  @media (max-width: 992px) {
    .mr-8 {
      margin-right: 16px; } }
  @media (max-width: 767px) {
    .mr-8 {
      margin-right: 8px; } }

.mb-8 {
  margin-bottom: 32px; }
  @media (max-width: 992px) {
    .mb-8 {
      margin-bottom: 16px; } }
  @media (max-width: 767px) {
    .mb-8 {
      margin-bottom: 8px; } }

.ml-8 {
  margin-left: 32px; }
  @media (max-width: 992px) {
    .ml-8 {
      margin-left: 16px; } }
  @media (max-width: 767px) {
    .ml-8 {
      margin-left: 8px; } }

.mt-9 {
  margin-top: 36px; }

.mr-9 {
  margin-right: 36px; }

.mb-9 {
  margin-bottom: 36px; }

.ml-9 {
  margin-left: 36px; }

.mt-10 {
  margin-top: 48px; }

.mr-10 {
  margin-right: 48px; }

.mb-10 {
  margin-bottom: 48px; }
  @media (max-width: 767px) {
    .mb-10 {
      margin-bottom: 24px; } }

.ml-10 {
  margin-left: 48px; }

.mt-11 {
  margin-top: 64px; }

.mr-11 {
  margin-right: 64px; }

.mb-11 {
  margin-bottom: 64px; }

.ml-11 {
  margin-left: 64px; }

.mt-12 {
  margin-top: 80px; }
  @media (max-width: 767px) {
    .mt-12 {
      margin-top: 40px; } }

.mr-12 {
  margin-right: 80px; }

.mb-12 {
  margin-bottom: 80px; }
  @media (max-width: 767px) {
    .mb-12 {
      margin-bottom: 40px; } }

.ml-12 {
  margin-left: 80px; }

.mt-13 {
  margin-top: 110px; }

.mr-13 {
  margin-right: 110px; }

.mb-13 {
  margin-bottom: 110px; }

.ml-13 {
  margin-left: 110px; }

.mr-14 {
  margin-right: 4px; }

.mb-14 {
  margin-bottom: 4px; }

.mt-auto {
  margin-top: auto; }

.mr-auto {
  margin-right: auto; }

.mb-auto {
  margin-bottom: auto; }

.ml-auto {
  margin-left: auto; }

.pt-1 {
  padding-top: 6px; }

.pr-1 {
  padding-right: 6px; }

.pb-1 {
  padding-bottom: 6px; }

.pl-1 {
  padding-left: 6px; }

.pt-2 {
  padding-top: 8px; }

.pr-2 {
  padding-right: 8px; }

.pb-2 {
  padding-bottom: 8px; }

.pl-2 {
  padding-left: 8px; }

.pt-3 {
  padding-top: 12px; }

.pr-3 {
  padding-right: 12px; }

.pb-3 {
  padding-bottom: 12px; }

.pl-3 {
  padding-left: 12px; }

.pt-4 {
  padding-top: 16px; }

.pr-4 {
  padding-right: 16px; }

.pb-4 {
  padding-bottom: 16px; }

.pl-4 {
  padding-left: 16px; }

.pt-5 {
  padding-top: 24px; }

.pr-5 {
  padding-right: 24px; }

.pb-5 {
  padding-bottom: 24px; }

.pl-5 {
  padding-left: 24px; }

.pt-6 {
  padding-top: 24px; }

.pr-6 {
  padding-right: 24px; }

.pb-6 {
  padding-bottom: 24px; }

.pl-6 {
  padding-left: 24px; }

.pt-7 {
  padding-top: 8px; }

.pr-7 {
  padding-right: 8px; }

.pb-7 {
  padding-bottom: 8px; }

.pl-7 {
  padding-left: 8px; }

.pt-8 {
  padding-top: 32px; }

.pr-8 {
  padding-right: 32px; }

.pb-8 {
  padding-bottom: 32px; }

.pl-8 {
  padding-left: 32px; }

.pt-9 {
  padding-top: 8px; }

.pr-9 {
  padding-right: 8px; }

.pb-9 {
  padding-bottom: 8px; }

.pl-9 {
  padding-left: 8px; }

.pt-10 {
  padding-top: 48px; }

.pr-10 {
  padding-right: 48px; }

.pb-10 {
  padding-bottom: 48px; }

.pl-10 {
  padding-left: 48px; }

.pt-11 {
  padding-top: 80px; }
  @media (max-width: 767px) {
    .pt-11 {
      padding-top: 40px; } }

.pr-11 {
  padding-right: 80px; }

.pb-11 {
  padding-bottom: 80px; }
  @media (max-width: 767px) {
    .pb-11 {
      padding-bottom: 40px; } }

.pl-11 {
  padding-left: 80px; }

.pt-12 {
  padding-top: 102px; }

.pr-12 {
  padding-right: 102px; }

.pb-12 {
  padding-bottom: 102px; }

.pl-12 {
  padding-left: 102px; }

.pt-13 {
  padding-top: 176px; }

.pr-13 {
  padding-right: 176px; }

.pb-13 {
  padding-bottom: 176px; }

.pl-13 {
  padding-left: 176px; }

.pt-14 {
  padding-top: 11px; }

.pb-14 {
  padding-bottom: 11px; }

.layout-bg {
  background: #AA0601;
  color: #fff; }
  .layout-bg a {
    color: #fff; }

.header h1 {
  background: url(../images/logo-white.png);
  width: 80px;
  height: 48.57px;
  background-position: center;
  background-size: cover;
  display: block;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap; }

@media (max-width: 767px) {
  .header .container {
    position: relative; } }

@media (max-width: 767px) {
  .header .top-menu {
    display: none;
    background: #AA0601;
    position: absolute;
    top: 80px;
    right: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }

.header .top-menu a {
  padding: 25px 0; }
  @media (max-width: 767px) {
    .header .top-menu a {
      font-size: 16px;
      line-height: 24px;
      margin: 0;
      width: 174px;
      border: 1px solid #fff; } }

.header .hambuger {
  display: none;
  color: #fff;
  font-size: 40px; }
  @media (max-width: 767px) {
    .header .hambuger {
      display: block; } }
  .header .hambuger span {
    font-size: 40px; }

.bottom-menu {
  border-bottom: 1px solid #fff; }
  @media (max-width: 767px) {
    .bottom-menu {
      padding: 24px 0; } }
  .bottom-menu .bottom-menu-list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 992px) {
      .bottom-menu .bottom-menu-list {
        margin-bottom: 36px; } }
    @media (max-width: 767px) {
      .bottom-menu .bottom-menu-list {
        display: none; } }
  .bottom-menu .sns a {
    width: 48px;
    height: auto; }
    @media (max-width: 992px) {
      .bottom-menu .sns a {
        width: 40px; } }
    @media (max-width: 767px) {
      .bottom-menu .sns a {
        width: 24px; } }

@media (max-width: 992px) {
  .copyright {
    padding-bottom: 40px; } }

@media (max-width: 767px) {
  .copyright {
    display: block;
    padding: 16px 0 24px 0; } }

@media (max-width: 767px) {
  .copyright a {
    margin: 8px 0 0 0; } }

@media (max-width: 767px) {
  .copyright ul {
    display: block; } }

.index-title {
  color: #650300;
  font-size: 48px;
  line-height: 72px;
  font-weight: 700; }
  @media (max-width: 767px) {
    .index-title {
      font-size: 24px;
      line-height: 36px; } }

.banner {
  color: #650300;
  height: 787px;
  background: url(../images/home-header.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  @media (max-width: 992px) {
    .banner {
      background: url(../images/home-header-sm.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat; } }
  @media (max-width: 767px) {
    .banner {
      height: 396px; } }
  .banner .banner-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    padding: 296px 0; }
    @media (max-width: 767px) {
      .banner .banner-content {
        padding: 144px 0; } }

.serve li {
  max-width: 25%; }
  @media (max-width: 992px) {
    .serve li {
      max-width: 50%; } }
  @media (max-width: 767px) {
    .serve li {
      max-width: 100%;
      margin: 0 0 24px 0; } }

.serve img {
  max-width: 100px;
  display: block; }
  @media (max-width: 992px) {
    .serve img {
      margin: 0 auto 16px; } }

.series-font-style {
  font-size: 48px;
  line-height: 72px;
  font-style: italic;
  color: #AA0601; }

.index-hover:hover {
  opacity: 0.7; }

@media (max-width: 992px) {
  .classic ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }

.classic ul li {
  max-width: 33%; }
  @media (max-width: 992px) {
    .classic ul li {
      max-width: 50%;
      margin: 0 0 24px 0; } }
  @media (max-width: 767px) {
    .classic ul li {
      max-width: 100%; } }

.design {
  background: url(../images/index-bg.png); }
  .design .index-title {
    color: #fff; }
  .design li {
    max-width: 50%; }
    @media (max-width: 992px) {
      .design li {
        max-width: 100%;
        margin: 0 0 24px 0; } }
  .design p {
    background: #fff; }

.recommedation li {
  max-width: 24.55%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media (max-width: 992px) {
    .recommedation li {
      max-width: 50%;
      margin: 0 0 24px 0; } }
  @media (max-width: 767px) {
    .recommedation li {
      max-width: 100%; } }

.recommedation .recommedation-item {
  height: 511px;
  box-shadow: 0px 2px 6px #00000029;
  -moz-box-shadow: 0px 2px 6px #00000029;
  -webkit-box-shadow: 0px 2px 6px #00000029; }

.contact-form {
  max-width: 636px; }
  @media (max-width: 992px) {
    .contact-form {
      max-width: 576px; } }
  @media (max-width: 767px) {
    .contact-form {
      max-width: 348px; } }
  @media (max-width: 992px) {
    .contact-form .index-title {
      margin: 0 0 24px 0; } }
  .contact-form p {
    margin: 0 0 24px 0; }
    @media (max-width: 992px) {
      .contact-form p {
        font-size: 16px;
        line-height: 24px; } }
  .contact-form label {
    display: block; }
  .contact-form input {
    width: 636px; }
    @media (max-width: 992px) {
      .contact-form input {
        max-width: 576px; } }
    @media (max-width: 767px) {
      .contact-form input {
        max-width: 348px; } }
  .contact-form .privacy-policy {
    display: block;
    width: 18px;
    height: 18px; }
  .contact-form .submit {
    width: auto; }
    @media (max-width: 992px) {
      .contact-form .submit {
        padding: 16px 136px;
        margin: 0 120px; } }
    @media (max-width: 767px) {
      .contact-form .submit {
        padding-right: 140px;
        padding-left: 140px;
        margin: 0; } }

.classic-menu li {
  width: 33.333%; }

.classic-menu a {
  display: block;
  width: 100%; }
  @media (max-width: 992px) {
    .classic-menu a {
      padding: 16px 0 8px 0; } }
  @media (max-width: 767px) {
    .classic-menu a {
      font-size: 16px;
      line-height: 24px; } }

.banner02-item {
  width: 50%; }
  .banner02-item .product-header-1 {
    height: 296px;
    background: url(../images/product-header-1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
    @media (max-width: 992px) {
      .banner02-item .product-header-1 {
        background: url(../images/product-header-sm-1.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat; } }
    @media (max-width: 767px) {
      .banner02-item .product-header-1 {
        height: 136px; } }
  .banner02-item .product-header-2 {
    height: 296px;
    background: url(../images/product-header-2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
    @media (max-width: 992px) {
      .banner02-item .product-header-2 {
        background: url(../images/product-header-sm-2.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat; } }
    @media (max-width: 767px) {
      .banner02-item .product-header-2 {
        height: 136px; } }

@media (max-width: 767px) {
  .font-size-series {
    margin: 0; } }

.produce-item {
  max-width: 25%; }
  @media (max-width: 992px) {
    .produce-item {
      max-width: 50%;
      margin: 0 0 40px 0; } }
  @media (max-width: 767px) {
    .produce-item {
      max-width: 100%;
      margin: 24px 0 0 0; } }
  .produce-item .produce-ui {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px; }
    .produce-item .produce-ui:hover {
      opacity: 0.5; }

.produce-page {
  max-width: 372px; }
  @media (max-width: 767px) {
    .produce-page {
      max-width: 347px;
      margin-bottom: 64px; } }
  .produce-page .switch {
    width: 21.5%; }
  .produce-page .number {
    width: 11.2%; }
  .produce-page a {
    display: block;
    width: 100%; }
  @media (max-width: 992px) {
    .produce-page {
      margin-top: 40px; } }

/*# sourceMappingURL=all.css.map */
